<div id="logincreate" class="account">
	<a class="normal_text" href="login">Log In</a><br>
	<a class="normal_text" href="createaccount">Create Account</a><br>
</div>
<div id="logout" class="account" style="display:none;">
	<a class="normal_text">Logged in as: </a>
	<a id="logged_in_user" class="normal_text"></a><br>
	<button id="logout_button">Log out</button>
</div>
