<div class="schooltile_container">
	<div class="schooltile_image">
		<img class="schooltile_image" src="{{pictureURL}}" alt="schooltile_image">
	</div>
	<div class="schooltile_title">
		<a class="schooltile_title">{{schoolName}}</a>
	</div>
	<div class="schooltile_body">
		<p class="normal_text">World: {{worldName}}<p><br>
		<p class="normal_text">Average Rating: {{avgRating}}<p>
	</div>
</div>

