<div class="container">
	<div class="schools_title">
		<h1 class="schools_title">Browse Schools</h1><br>
	</div>

	<div class="browse_page_tiles">
		{{#each results}}
			{{>schooltile}}
		{{/each}}
	</div>
</div>
