<div class="container">
	<div class="schools_title">
		<h1 class="schools_tile">Browse Professors</h1><br>
	</div>
	<div class="reviews_page_tiles">
		{{#each results}}
			{{>professortile}}
		{{/each}}
	</div>
</div>
