<div class="container">

    <div class="create_account_title">
        <h1 class="create_account_title">Create Account<h1>
    </div>

    <div class="create_account_form">
        <form>
	        <label>First Name</label>
		    <input type="text" id="createaccfname" name="createaccfname"><br><br>
		    <label>Last Name</label>
		    <input type="text" id="createacclname" name="createacclname"><br><br>
		    <label>Email</label>
		    <input type="text" id="createaccemail" name="createaccemail"><br><br>
		    <label>Picture URL</label>
		    <input type="text" id="createaccpic" name="createaccpic"><br><br>
		    <input type="submit" value="Create Account"><br>
	    </form>
    </div>

    <div class="create_account_misc">
	    <a class="normal_text">notes: 
		<br>- this page will modify the Users table
		<br>- this page and its funcitonality have not been created in this draft version.</a>
    </div>
</div>
