<div class="container">

    <div class="create_account_title">
        <h1 class="create_account_title">Create Account<h1>
    </div>

    <div class="create_account_form">
		<a class="normal_text">First Name</a>
		<input type="text" id="createaccfname"><br><br>
		<a class="normal_text">Last Name</a>
		<input type="text" id="createacclname"><br><br>
		<a class="normal_text">Bio</a><br>
		<textarea rows="3" id="createaccbio" placeholder="Say a little bit about yourself"></textarea><br><br>
		<a class="normal_text">Picture URL</a>
		<input type="text" id="createaccpic"><br><br>
		<button id="createaccountbutton">Create Account</button>
    </div>

    <div class="create_account_misc">
	    <a class="normal_text">notes: 
		<br>- this page will modify the Users table
		<br>- this page and its funcitonality have not been created in this draft version.</a>
    </div>
</div>
