<div class="container">
	<div class="create_review_title>
		<h1 class="create_review_title>Create School</h1>
	</div>

	<div class="create_school_form">
		<a class="normal_text">Name</a>
		<input type="text" id="create_school_name"><br><br>

		label for="world">World</label>
		<select name="world" id="create_school_world">
			{{#each world}}
				<option value="{{worldId}}">{{worldName}}</option>
			{{/each}}
		</select>

		<a class="normal_text">Picture URL</a>
		<input type="text" id="create_school_pic"><br><br>
	</div>



</div>
