<div class="container">

	<div class="home_title">
		<img src="res/favicon.png" alt="2cool4skool" style="width:100px;height:100px;">
		<h1 class="home_title">2cool4skool</h1>
	</div>

	<div class="home_search_container">
		<div class="home_search_prof">
			<form action="professors">
				<label class="normal_text">Search Professors</label><br>
				<input type="text" id="profsearch" name="profsearch">
				<input type="submit" value="Search!"><br>
			</form>
		</div>
		<div class="home_search_school">
			<form action="schools">
				<label class="normal_text">Search Schools</label><br>
				<input type="text" id="schoolsearch" name="schoolsearch">
				<input type="submit" value="Search!"><br>
			</form>
		</div>
	</div>

	<div class="home_review">
		<a class="normal_text" href="createreview">Create Review</a><br>
	</div>

	<div class="home_misc">
		<a class="normal_text"> Notes for peer reviewers:
			<br>- Not all pages will be available from index in the final version. As we improve this draft version, pages which dont belong on index are temporarily linked from here:
			<br>- When a review is created it is for a school OR a professor. This means the review can create a 0:M relationship between a User and School or a User and a Professor. These are the NULLable relationships in our database. There was some confusion about this in the Step 3 reviews.
			<br>- The search bars for Professors and Schools are used to facilitated filtered SELECT queries.
		</a></br></br>

		<a class="normal_text" href="user">User Profile</a><br>
		<a class="normal_text" href="reviews">Reviews</a><br>
	</div>
</div>
