<div class="container">

	<div class="home_title">
		<img src="res/favicon.png" alt="2cool4skool" style="width:100px;height:100px;">
		<h1 class="home_title">2cool4skool</h1>
	</div>

	<div class="home_search_container">
		<div class="home_search_prof">
			<label for="prof_search_textbox" class="normal_text">Search Professors</label></br>
			<input id="prof_search_textbox"></input>
			<button id="prof_search_button">Search</button><br><br>
			<a class="normal_text" href="browseprofessors">Browse Professors</a><br><br>
			<a class="normal_text" href="createprofessor">Create Professor</a>
		</div>
		<div class="home_search_school">
			<label for="school_search_textbox" class="normal_text">Search Schools</label></br>
			<input id="school_search_textbox"></input>
			<button id="school_search_button">Search</button><br><br>
			<a class="normal_text" href="browseschools">Browse Schools</a><br><br>
			<a class="normal_text" href="createschool">Create School</a>
		</div>
	</div>

	<div class="home_review">
		<a id="home_create_review" class="normal_text">Log In to Create Review</a><br>
	</div>
</div>
