<div class="container">

    <div class="login_title">
	    <h1 class="login_title">Log In</p>
    </div>

    <div class="login_form">
		<label for="login_fname" class="normal_text">First Name</label>
		<input type="text" id="login_fname"></input><br><br>
		<label for="login_lname" class="normal_text">Last Name</label>
		<input type="text" id="login_lname"></input><br><br>
		<button id="submit_login">Login</button>
    </div>

    <div class="login_misc">
        <a class="normal_text">Log in with the first and last name of any character in the database, Ex: Harry Potter</a>
    </div>
</div>
