<div class="container">

    <div class="login_title">
	    <h1 class="login_title">Log In</p>
    </div>

    <div class="login_form">
		<label for="loginemail" class="normal_text">Email</label>
		<input id="loginemail"></input><br><br>
		<button id="submit_login">Login</button>
    </div>

    <div class="login_misc">
        <a class="normal_text">This page and its funcitonality have not been added in this draft version</a>
    </div>
</div>
