<div class="container">
    
	<div class="reviews_page_container">
		{{> professortile profdata}}

	</div>
    <div class="reviews_page_tiles">
			{{#each results}}
				{{> reviewtile}}
			{{/each}}
    </div>

    <div class="reviews_page_misc">
	    <a class="normal_text">notes:
		<br>- this page is for the Reviews table
		<br>- if you dont want to look in our db creation sql for
		<br> other professors, just change the id field in the url
		</a>
    </div>
</div>
