<div class="container">
    
	<div class="reviews_page_container">
		{{> professortile profdata}}

	</div>
    <div class="reviews_page_tiles">
			{{#each results}}
				{{> reviewtile}}
			{{/each}}
    </div>

</div>
