<body onload="fillSearch('schoolsearch')">
	<div class="container">
		
		<div class="schools_title">
            <h1 class="schools_title">Search Schools</h1>
        </div>
		
		<div class="centered_search">
			<form>
				<label>Search Schools</label>
				<input type="text" id="schoolsearch" name="schoolsearch">
				<input type="submit" value="Search!"><br>
			</form>
		</div>
		
		<div class="search_results">
			<a>search results for entered query</a>
			<table>
				<tr>
					<th>School Name</th>
					<th>World</th>
					<th>Photo</th>
				</tr>
				<tr>
					<td>Mckinley High School</td>
					<td>Glee</td>
					<td>Photo goes here</td>
				</tr>
				<tr>
					<td>Hogwarts</td>
					<td>Harry Potter</td>
					<td>Photo goes here</td>
				</tr>
				<tr>
					<td>Springfield Elementary</td>
					<td>The Simpsons</td>
					<td>Photo goes here</td>
				</tr>
			</table>
		</div>
		
		<div class="schools_misc">
            <a class="normal_text">note: this page is SELECTs from the Schools table</a><br>
			<a class="normal_text">The search bar is used to facilitated filtered SELECT queries.</a>
        </div>
	</div>
