<div class="container">
    
    <div class="reviews_page_photo">
	    <img src="res/profile-placeholder.png" alt="User Image" style="width:150px;height:150px;">
    </div>

    <div class="reviews_page_title">
	    <h1 class="reviews_page_title">Albus Dumbledore</h1>
    </div>

    <div class="reviews_page_subtitle">
        <a>School:</a>
	    <a>Hogwarts  (note these fields will be different depending on if it is a review for a school or a professor)</a><br>
	    <a>World:</a>
	    <a>Harry Potter</a>
    </div>

    <div class="reviews_page_table">
	    <a>List of reviews by this user</a>
	    <table>
		    <tr>
			    <th>Review Author Fname</th>
			    <th>Lname</th>
			    <th>Rating</th>
			    <th>Justification</th>
		    </tr>
		    <tr>
			    <td>Harry</td>
			    <td>Potter</td>
			    <td>★★★★★</td>
			    <td>He drank an evil potion so I wouldn't have to</td>
		    </tr>
		    <tr>
			    <td>Draco</td>
			    <td>Malfoy</td>
			    <td>★☆☆☆☆</td>
			    <td>Always taking points away from Slytherin</td>
		    </tr>
		    <tr>
			    <td>Bart</td>
			    <td>Simpson</td>
			    <td>★★★★★</td>
			    <td>cool magic</td>
		    </tr>
	    </table>
    </div>

    <div class="reviews_page_misc">
	    <a class="normal_text">note: this page is for the Reviews table</a>
    </div>
</div>
