<div class="container">
    
    <div class="reviews_page_container">
		{{> schooltile schooldata}}
    </div>

    <div class="reviews_page_tiles">
		{{#each results}}
			{{> reviewtile}}
		{{/each}}
    </div>
</div>
