<div class="container">

    <div class="user_profile_title">
        <h1 class="user_profile_title">Firstname Lastname</h1>
    </div>

    <div class="user_profile_photo">
        <img src="res/profile-placeholder.png" alt="User Image" style="width:150px;height:150px;">
    </div>

    <div class="user_profile_bio">
        <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
    </div>

    <div class="user_profile_reviews">
		<a>List of reviews by this user</a>
        <table>
		    <tr>
			    <th>Review Subject Fname</th>
			    <th>Lname</th>
			    <th>Rating</th>
			    <th>Justification</th>
		    </tr>
		    <tr>
			    <td>William</td>
			    <td>Schuester</td>
			    <td>★★★★☆</td>
			    <td>He stayed with his crazy wife for too long</td>
		    </tr>
		    <tr>
			    <td>Albus</td>
			    <td>Dumbledore</td>
			    <td>★★★★★</td>
			    <td>Good at magic</td>
		    </tr>
		    <tr>
			    <td>Seymour</td>
			    <td>Skinner</td>
			    <td>☆☆☆☆☆</td>
			    <td>he sucks</td>
		    </tr>
	    </table>
    </div>

    <div class="user_profile_misc">
        <a class="normal_text">note: this page is for the Users table, it will also reference the Reviews table</a>
    </div>

</div>
